.sectionContact {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  margin: 20px 0;
  padding: 0;
  border-radius: 5px;
  justify-content: space-between;
}

.contactNameBox {
  padding: 10px;
  margin: 0;
}
.contactNumberBox {
  padding: 0 10px 10px 10px;
  margin: 0;
}
.contactButton {
  padding: 5px 10px;
  margin: 10px;
}
.sectionContact {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 300px;
  margin: 20px 0;
  padding: 0;
  border-radius: 5px;
  justify-content: space-between;
}
